.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

body{
    min-height: 100vh;
    color: $white;
    text-align: center;
    background-color: $Dark-blue-2;

}

img  {
  max-width: 100%;
}
a:hover  {
    cursor: pointer;
}
li:hover  {
  cursor: pointer;
}
