.formandfooter{
    position : relative;
    margin: 200px 0 0 0;
}
.footer  {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $Dark-blue-3;
    padding: 250px 25px 0 25px;
    text-align: left;
    width: 100%;

    @include respond-to ('medium') {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 300px 25px 0 25px;
        padding-bottom: 50px;
    }

    &__head  {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        //----magic number

        @include respond-to ('large')  {
            align-self: flex-start;
            margin: 0;
        }
    }

    &__media {
        display: flex;
        column-gap: 10px;
        margin: 70px 0 50px 0;
        align-self: center;
        font-size: 0.8rem;

        @include respond-to ('medium')  {
            align-self: flex-start;
            margin: 0;
        }
    }
}

.head  {
    &__logo  {
        background: url("../images/logo.svg") center/contain no-repeat;
        width: 150px;
        height: 70px;

        @include respond-to ('medium')  {
            display: none;
        }
        
    }
    &__description  {
        position: relative;
        @include descriptionTxt;
        padding-left: 30px;
        margin: 15px 0 0 0;

        @include respond-to ('medium') {
            &::after {
                content: "";
                position: absolute;
                top: -125px;
                left: 0;
                width: 260px;
                height: 100px;
                background: url('../images/logo.svg') center/contain no-repeat;
            }
        }



        &::before  {
            content: "";
            position: absolute;
            background: url("../images/icon-location.svg") center/contain no-repeat;
            height: 1rem;
            width: 1rem;
            left: 0px;
        }
    }
}

.contact  {
    margin: 0 0 45px 0;
    &__phone  {
        position: relative;
        padding-left: 30px;
        margin: 15px 0 0 0;
        font-family: 'Open sans', sans-serif;
        font-size: 0.8rem;

        &::before  {
            content: "";
            position: absolute;
            background: url("../images/icon-phone.svg") center/contain no-repeat;
            height: 1rem;
            width: 1rem;
            left: 0px;
        }
    }
    &__email  {
        position: relative;
        padding-left: 30px;
        margin: 15px 0 0 0;
        font-family: 'Open sans', sans-serif;
        font-size: 0.8rem;

        &::before  {
            content: "";
            position: absolute;
            background: url("../images/icon-email.svg") center/contain no-repeat;
            height: 1rem;
            width: 1rem;
            left: 0px;
        }
    }
}
.footerNav  {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    
    @include respond-to ('medium')  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
    }

    li:hover  {
        font-weight: 700;
    }
}

.media  {
    &__link  {
        position: relative;
        height: 30px;
        width: 30px;
        border: 1px solid $white;
        border-radius: 50%;

        &:hover  {
            color: $cyan;
            border: 1px solid $cyan;
        }
       
    
        i  {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;

            &:hover  {
                color: $cyan;
            }
        }
    }
}