.header  {
    @extend %centerFlex;
    flex-direction: column;
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        margin: 20px 0 40px 0;
    }

    &__logo  {
        width: 90%;
    }

    &__title  {
        font-size: 1.5rem;
        line-height: 2.3rem;
        padding: 0 25px;
        margin: 15px 0 ;
    }

    &__description  {
        @include descriptionTxt;
        padding: 0 25px;
        margin: 0 0 25px 0;
    }

    &__button  {
        @include button;
        width: 60%;
        max-width: 250px;

    }
}
.nav  {
    &__logo{
       display: flex;
       width: 15%;
       flex-grow: 1;
    }

    &__links  {
        position: relative;
        display: flex;
        justify-content: flex-end;
        column-gap: 20px;
        width: 50%;
        flex-grow: 2;
        font-size: 0.7rem;
        font-weight: 400;

        li  {
            &::before  {
            
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 0;
            top : 15px;
            background : $cyan;
            transition:width 0.5s ;

            }

            &:hover{     
                color: $cyan;

                &::before  {
                    width: 3%;
                }
            }
        }
    }
}