.header  {
    @extend %centerFlex;
    flex-direction: column;
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    &__logo  {
        width: 90%;
    }
}
.nav  {
    &__logo{
       display: flex;
       width: 35%;
    }

    &__links  {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 400;

    }
}