.header  {
    background: url('../images/bg-curvy-mobile.svg') center/cover no-repeat $Dark-blue-1;
    background-position-y: 300px;
    background-position-x: -700px;

    @extend %centerFlex;
    flex-direction: column;

    @include respond-to ('extra-large')  {
        background: url('../images/bg-curvy-desktop.svg') center/cover no-repeat $Dark-blue-1;
        background-position-y: 280px;
        background-position-x: -400px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        margin: 20px 0 40px 0;
        width: 100%;

        @include respond-to ('small')  {
            width: 90%;
        }
    
    }

    &__logo  {
        width: 90%;
    }

    &__title  {
        max-width: 550px;
        font-size: 1.5rem;
        line-height: 2.3rem;
        padding: 0 25px;
        margin: 15px 0 ;
    }

    &__description  {
        @include descriptionTxt;
        max-width: 750px;
        padding: 0 25px;
        margin: 0 0 25px 0;
    }

    &__button  {
        @include button;
        width: 60%;
        max-width: 250px;

    }
}
.nav  {
    &__logo{
       display: flex;
       width: 15%;
       flex-grow: 1;
    }

    &__links  {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 20px;
        width: 50%;
        flex-grow: 2;
        font-size: 0.7rem;
        font-weight: 400;

        @include respond-to ('medium')  {
            font-size : 0.9rem ;
        }

        @include respond-to ('large')  {
            font-size : 1.4rem ;
        }

        li  {
            &::before  {
            
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 0;
            top : 25px;
            background : $cyan;
            transition:width 0.5s ;

            @include respond-to ('small')  {
                top: 35px;
            }

            @include respond-to ('medium')  {
                top: 50px;
            }
    
            @include respond-to ('large')  {
                
            }
            @include respond-to ('extra-large')  {
                
            }  

            }

            &:hover{     
                color: $cyan;

                &::before  {
                    width: 3%;
                }
            }
        }
    }
}