.productive  {
    flex-direction: column;
    @extend %centerFlex;

    @include respond-to ('medium')  {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }
    &__logo  {
        background: url('../images/illustration-stay-productive.png') center/contain no-repeat;
        height: 350px;
        width: 80%;
    }

    &__right  {
        padding: 0 30px;
        text-align: left;
    }
}
.right  {
   
    &__title  {
        @include subTitle;
    }

    &__description  {
        @include descriptionTxt;
    }

    &__link  {
        position: relative;
        @include descriptionTxt;
        color: $cyan;
        border-bottom: 1px solid $cyan;

        &:hover  {
            color: $white;
            border-bottom: 1px solid $white;
            &::after{
                color: $white;

            }
        }

        &::after  {
            content: "";
            position: absolute;
            background: url('../images/icon-arrow.svg')center/contain no-repeat;
            height: 1rem;
            width: 1rem;
            right: -18px;
            top : 50%;
            transform: translateY(-50%);
        }

    }
}