.productive  {
    display: flex;
    flex-direction: column;
    @extend %centerFlex;

    &__logo  {
        background: url('/assets/images/illustration-stay-productive.png') center/contain no-repeat;
        height: 350px;
        width: 80%;
    }

    &__right  {
        padding: 0 30px;
        text-align: left;
    }
}
.right  {
   
    &__title  {
        @include subTitle;
    }

    &__description  {
        @include descriptionTxt;
    }

    &__link  {
        position: relative;
        @include descriptionTxt;
        color: $cyan;
        border-bottom: 1px solid $cyan;
        

        &::after  {
            content: "";
            position: absolute;
            background: url('/assets/images/icon-arrow.svg')center/contain no-repeat;
            height: 1rem;
            width: 1rem;
            right: -18px;
            top : 50%;
            transform: translateY(-50%);
        }

    }
}